<h3>All Categories:</h3>

<ul>
	<%= link_to "Create New Category", new_category_path %>  <br />
  <% @categories.each do |category| %>
	<br />
  <li class=category_<%= category.id %>>
    <%= link_to category.title, category_path(category) %> <br />
		<%= link_to "-Edit", edit_category_path(category) %>
  </li>
  <% end %>
</ul>
